.form-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  /* margin-bottom: 18px; */
}

.main-form-buttons {
  display: flex;
  gap: 12px;
}

.form-buttons button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-family: "NotoSans-bold";
}

.form-delete {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.main-form-cancel,
.main-form-save {
  cursor: pointer;
  transition: color 0.2s ease;
}

.main-form-cancel:hover,
.main-form-save:hover,
.form-delete:hover {
  color: #666666;
}
