.personal-display-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 24px;
  padding-left: 60px;
  padding-right: 24px;
}

.personal-display-name-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personal-display-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.edit-button {

}

.section-display-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 0;
  padding-bottom: 24px;
  padding-left: 60px;
  padding-right: 24px;
}

.section-display-item {
  display: flex;
  flex-direction: column;
}